<p id="notice"><%= notice %></p>


<%= content_tag :div, class: 'person_detail' do -%>

  <% unless @parents.empty? -%>
    <%= rotate_text 'Parents' %>
    <% @parents.each do |parent |%>
      <%= render parent, div_class: 'parents' %>
    <% end -%>
  <% end -%>

  <%= content_tag :div, '', class: 'clear' %>

  <% if @spouse -%>
    <%= rotate_text 'Spouse' %>
    <%= render @spouse, div_class: 'spouse' %>
  <% end -%>

    <%= rotate_text 'Person' %>
    <%= render @person, div_class: 'person shadow' %>

  <% unless @siblings.empty? -%>
    <%= rotate_text 'Siblings' %>
    <% @siblings.each do |sibling| -%>
      <%= render sibling, div_class: 'sibling' %>
    <% end -%>
  <% end -%>
<% end -%>

<%= content_tag :div, '', class: 'clear' %>

  <% unless @children.nil? -%>
    <%= rotate_text 'Children' %>
    <% @children.each do |child| -%>
      <%= render child, div_class: 'child' %>
    <% end -%>
  <% end -%>

<%= content_tag :div, '', class: 'clear' %>

<%= link_to 'Back', people_path %>
