<p id="notice"><%= notice %></p>

<%= content_tag :div, class: 'person_detail' do -%>

  <% if @parents -%>
    <% @parents.each do |parent |%>
      <%= render parent, div_class: 'parents' %>
    <% end -%>
  <% end -%>

  <%= content_tag :div, '', class: 'clear' %>

  <% if @spouse -%>
    <%= render @spouse, div_class: 'spouse' %>
  <% end -%>

    <%= render @person, div_class: 'person' %>

  <% unless @siblings.empty? -%>
    <% @siblings.each do |sibling| -%>
      <%= render sibling, div_class: 'sibling' %>
    <% end -%>
  <% end -%>
<% end -%>

<%= content_tag :div, '', class: 'clear' %>


<%= link_to 'Back', people_path %>
