<!DOCTYPE html>
<html>
<head>
  <title>FamilyTree</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui"%>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= content_tag :div, id: 'Content' do -%>
    <%= render :partial => 'layouts/header' %>
    <%= yield %>
  <% end -%>
</body>
</html>
